body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:2%;
}

h1 {
    font-family: inherit;
    color: inherit;
    font-size: 56px;
    line-height: 1.07;
    font-weight: bold;
    letter-spacing: 2%;
}

h2 {
    font-family: inherit;
    color: #2e2f42;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 2%;
}

h3 {
    font-family: inherit;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2%;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #4d5ae5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 3%;
}
.adddress {
    font-style: normal;
}

.link {
    font-family: inherit;
    color: #404bbf;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: underline;
}

.link:hover, .link:focus {
    background-color: #404bbf;
}

button {
    font-weight: 500;
    color: white;
    border: none;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 4%;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #404BBF;
}

footer {
    background-color: #2E2F42;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    text-align: center;
    color: white;
}

.section-our-team {
    background-color: #F4F4FD;
}



.section-our-team ul li {
    background-color: white;
}

.section-our-team h2 {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 2%;
    color: #2e2f42;
    text-transform: capitalize;
}

.section-our-team h3 {
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2e2f42;
}

.section-our-portfolio-header {
    text-align: center;
}

.section-our-features {
    letter-spacing: 2%;
}

.footer-text {
    color:  #F4F4FD;
    letter-spacing: 2%;
}

